{% extends 'parent/base.html' %}
{% load static %}
{% block title %}
Favorite Playlists
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="../../static/css/font-awesome.min.css"/>
	<link rel="stylesheet" href="../../static/css/owl.carousel.min.css"/>
	<link rel="stylesheet" href="../../static/css/slicknav.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

{% endblock %}

{% block content %}
     <!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Header section -->
	<header class="header-section clearfix">
		<a href="{% url 'core:home' %}" class="site-logo">
			<h2 style="color: #1FB6FF">SoundScapes</h2>
		</a>
		<div class="header-right">
			<div class="user-panel">
				<a href="{% url 'accounts:login' %}" class="login">DashBoard</a>
				<a href="{% url 'core:songs' %}" class="login">Songs</a>
				<a href="{% url 'core:playlists' %}" class="login">Playlists</a>
				<a href="{% url 'core:artists' %}" class="login">Artists</a>
                <a href="{% url 'core:profile' request.user.username %}" class="login">Profile</a>
                <a href="{% url 'core:users' %}" class="login">Users</a>
			</div>
		</div>
	</header>
	<!-- Header section end -->
    <!-- Songs section -->
	<section class="playlist-section spad">
		<div class="container-fluid">
			<div class="section-title">
				<h2 style="display: inline">Favorite Playlists</h2>

			</div>
			<div class="clearfix"></div>
			<div class="row playlist-area">
                {% for favorite in playlists %}
                    <div class="mix col-lg-3 col-md-4 col-sm-6 genres">
                        <div class="playlist-item">
                            <img width="400px" height="220px" src="{{ favorite.playlist.image.url }}" alt="{{ favorite.playlist.title }}">
                            <a href="{% url 'core:playlist-detail' favorite.playlist.slug %}"><h4>{{ favorite.playlist.title }}</h4></a>
                        </div>
				    </div>
                {% endfor %}
			</div>
		</div>
	</section>
	<!-- Playlist section end -->
    <!-- Help section end -->
	<section class="help-section spad pt-0">
		<div class="container">
			<div class="row">
                {% include 'partials/pagination.html' with page=page_obj %}
			</div>
		</div>
	</section>
	<!-- Help section end -->
    <script src="../../static/js/jquery-3.2.1.min.js"></script>
	<script src="../../static/js/bootstrap.min.js"></script>
	<script src="../../static/js/jquery.slicknav.min.js"></script>
	<script src="../../static/js/owl.carousel.min.js"></script>
	<script src="../../static/js/mixitup.min.js"></script>
	<script src="../../static/js/main.js"></script>
{% endblock %}