{% extends 'parent/base.html' %}
{% load static %}
{% block title %}
    Password reset
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock %}
{% block content %}
    <div class="wrapper fadeInDown">
        <h1 style="color: #cccccc">SoundScapes😉🎧</h1>
        <br>
      <div id="formContent">
        <!-- Tabs Titles -->
        <br>
        <!-- Login Form -->
        <form method="post">
            {% csrf_token %}
{#          <input type="text" id="login" class="fadeIn second" name="username" placeholder="Username or Phone number">#}
{#          <input type="text" id="password" class="fadeIn third" name="password" placeholder="Password">#}
            {{ form.as_p }}
          <br>
          <input type="submit" class="fadeIn third" value="Send">
        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter">
          <a class="underlineHover" href="#"><a href="{% url 'accounts:login' %}">Login</a> | <a href="{% url 'accounts:sign-up' %}">Signup</a></a>
        </div>

      </div>
    </div>
{% endblock %}