{% extends 'parent/base.html' %}
{% load static %}
{% block title %}
    Password reset
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
    <script>
        function showPassword() {
            var passwordField = document.getElementById("password1");
            var passwordField2 = document.getElementById("password2");

            if (passwordField.type === "password") {
                passwordField.type = "text";
                passwordField2.type = "text";
            } else {
                passwordField.type = "password";
                passwordField2.type = "password";
            }
        }
    </script>

{% endblock %}
{% block content %}
    {% if validlink %}
     <div class="wrapper fadeInDown">
        <h1>SoundScapes😉🎶</h1>
        <br>
      <div id="formContent">
        <!-- Tabs Titles -->
        <br>
        <br>
        <!-- Login Form -->
        <form method="post">
            {% csrf_token %}
{#          <input type="text" id="login" class="fadeIn second" name="username" placeholder="Username or Phone number">#}
{#          <input type="text" id="password" class="fadeIn third" name="password" placeholder="Password">#}
            {{ form.as_p }}
          <br>
          <input type="checkbox" onclick="showPassword()" value=""> Show Password
          <input type="submit" class="fadeIn fourth" value="Change Password">
        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter">
          <a class="underlineHover" href="#"><a href="{% url 'accounts:login' %}">Login</a> | <a href="{% url 'accounts:sign-up' %}">Signup</a></a>
        </div>

      </div>
    </div>
        {% else %}
        <h2>Link is not valid.</h2>
    {% endif %}
{% endblock %}